@media all and (min-width: 0) {
    html {
        font-size: 16px;
    }
    .mob-gnb-wrap {
        display: none;
    }
    .history-wrap {
        margin-top: 4.375rem;
        display: flex;
        justify-content: center;
        gap: 2.5rem;
    }
    .history-inner01 {
        width: 100%;
        max-width: 35.625rem;
    }
    .history-inner02 {
        width: 100%;
        max-width: 20rem;
    }
    .history-header {
        margin-left: 0.5rem;
        padding-bottom: 1.25rem;
    }
    .history-header::after {
        content: "";
        display: block;
        clear: both;
    }
    .history__head01 {
        color: #636872;
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .history__head02 {
        color: #F68282;
        font-family: Pretendard;
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-left: 0.625rem  ;
    }
    .flus-btn {
        display: inline-block;
        float: right;
    }
    .flus-txt {
        height: 100%;
        display: inline-block;
        color: #959595;
        font-family: Pretendard;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5625rem;
        vertical-align: middle;
        padding-right: 0.3125rem;
    }
    .flus-btn img {
        vertical-align: middle;
    }

    /* history list CSS */
    .history-list {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    }
    .history-list li {
        border-radius: 1rem;
        border: 2px solid var(--white-outline);
        background: #FFF;
        padding: 1.25rem 1.625rem;
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
        align-items: flex-start;
        position: relative;
    }
    .history-profile {
        width: 5rem;
    }
    .history-text01 {
        display: flex;
        padding-bottom: 4px;
    }
    .history-text02 {
        display: flex;
    }
    .text01_01 {
        display: inline-block;
        align-self: center;
        flex-shrink: 0;
        padding: 0.5625rem 0.875rem;
        color: #F68282;
        text-align: center;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 999px;
        background: #FFEFEF;
    }
    .text01_02 {
        color: #464646;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 0.625rem 0;
        margin-left: 0.375rem;
    }
    .text02_01 {
        display: inline-block;
        flex-shrink: 0;
        color: #565656;
        text-align: left;
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 0.5625rem 0.625rem;
    }
    .text02_02 {
        color: #9C9C9C;
        text-align: left;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 0.625rem 0.875rem;
    }
    .arrow-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.25rem;

    }
    /* --end history list CSS */
    .history-inner01 .history-style:nth-child(2) {
        margin-top: 3.75rem;
    }
    .head--green {
        color: #41C94F;
    }
    .text--green {
        background: #E0FFE3;
        color: #41C94F;
    }
    .history-review {
        margin-top: 0.625rem;
    }
    .review-btn {
        display: inline-block;
        border-radius: 999px;
        border: 1px solid #BFBFBF;
        padding: 0.3125rem 15px;
    }
    .review-btn img {
        vertical-align: middle;
    }
    .review-btn span {
        vertical-align: middle;
        color: var(--brand-color, #6E93DD);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .history-style02 {
        margin-top: 3.125rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2.5rem;
        background: #323232;
        border-radius: 1rem;
        padding: 1.25rem 1.5625rem;
    }
    .history-style02 li {
        position: relative;
        padding-bottom: 1.25rem;
        width: 50%;
    }
    .history-style02 li:nth-child(1)::after {
        content: "";
        display: inline-block;
        position: absolute;
        height: 100%;
        right: -1.25rem;
        top: 0;
        border: 0;
        border-right: 2px dashed white;
    }
    .count-txt-header {
        color: #FFF;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
    }
    .count-txt-header span {
        color: #F68282;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-left: 0.5rem;
    }
    .count-txt-header .green--count {
        color: #41C94F;
    }
    .count-txt-wrap {
        text-align: center;
        margin-top: 1.875rem;
    }
    .count-txt-wrap img {
        vertical-align: middle;
    }
    .count-txt {
        vertical-align: middle;
        padding-left: 0.5rem;
        color: #FFF;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .hw02 {
        max-width: 35.625rem;
        width: 100%;
        margin: 4.375rem auto;
        flex-direction: column;
    }
    .hw02>ul {
        flex-grow: 1;
    }
    .pagination-wrap {
        margin-top: 3.75rem;
        border: 2px solid var(--white-outline);
        background: white;
        padding: 0.875rem 0.625rem;
        border-radius: 0.625rem;
        display: flex;
        justify-content: space-between;
    }
    .pgprev-btn {
        display: block;
        background: url(../image/ico_prev.svg)no-repeat center center;
        width: 24px;
        height: 24px;
    }
    .pgnext-btn {
        display: block;
        background: url(../image/ico_next.svg)no-repeat center center;
        width: 24px;
        height: 24px;
    }
    .pageNumber-list {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .pageNumber {
        padding: 5px 10px;
        color: #C6C9D2;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5rem;
    }
    .pageN-click {
        background: #F4F4F4;
        border-radius: 10px;
        color: var(--brand-color);
    }
    .plusBtn-wrap {
        display: none;
    }
}
@media all and (max-width: 1023px) {
    html {
        font-size: 15px;
    }
    .arrow-btn {
        width: 24px;
        top: 37px;
    }
    .arrow-btn img {
        width: 100%;
    }
}
@media all and (max-width: 760px) {
    html {
        font-size: 15px;
    }
    .history-wrap {
        flex-direction: column-reverse;
        gap: 4rem;
    } 
    .history-list li {
        flex-direction: column;
    }
    .history-inner01 {
        max-width: none;
    }
    .history-inner02 {
        max-width: none;
    }
    .history-style02 {
        gap: 3.5rem;
        margin-top: 0;
    }
    .history-style02 li:nth-child(1)::after {
        right: -1.75rem;
    }
    .flus-btn img {
        width: 24px;
    }
    .text02_02 {
        font-size: 14px;
    }
    .hw02 {
        flex-direction: column;
    }
    .hw02>ul>li {
        flex-direction: row;
    }
}
@media all and (max-width: 530px) {
    html {
        font-size: 13.4px;
    }
    /*헤더 모바일 네비 CSS*/
    .gnb-wrap {
        display: none;
    }
    .mob-gnb-wrap {
        display: block;
    }
    .mob-gnb-inner {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        background: #00000082;
        right: 0;
        top: 0;
        z-index: 1000;
    }
    .mob-gnb-inner02 {
        width: 65%;
        background-color: white;
        height: 100%;
        margin-left: auto;
        position: absolute;
        right: -100%;
    }
    .gnb-close-wrap {
        text-align: right;
        padding: 13px 20px;
        background: #131313;
    }
    .mob-gnb-close {
        display: inline-block;
        text-align: right;
        font-size: 16px;
        color: white;
    }
    .mob-gnb-list {
        width: 100%;
        padding: 20px;
        padding-top: 10px;
    }
    .mob-gnb-list li:nth-child(n+2) {
        border-top: 1px solid #f2f2f2;
    }
    .mob-gnb-list li a {
        text-align: left;
        display: block;
        font-size: 16px;
        width: 100%;
        padding: 16px 0;
        font-weight: 600;
        color: #323232;
    }
    .mob-gnb-list li a img {
        vertical-align: middle;
        margin-top: -2px;
        padding-right: 13px;
    }
    /*--end 헤더 모바일 네비 CSS*/
    .pagination-wrap {
        display: none;
    }
    .plusBtn-wrap {
        margin-top: 30px;
        display: block;
        background: white;
        border: 2px solid var(--white-outline);
        border-radius: 10px;
    }
    .plusBtn-wrap a {
        display: block;
        padding: 17px 0;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        color: var(--brand-color);
    }
    .review-btn span {
        font-size: 13px;
    }
}
@media all and (max-width: 480px) {
    .history-style02 li:nth-child(1)::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 80%;
        left: 50%;
        margin-top: 10px;
        transform: translateX(-50%);
        bottom: -1.1rem;
        border: 0;
        border-bottom: 2px dashed white;
    }
    .history-style02 li {
        width: 100%;
    }
    .history-style02 {
        flex-direction: column;
        align-items: center;
    }
    .count-txt-header {
        text-align: center;
    }
    .hw02>ul>li {
        flex-direction: column;
    }
}