@media all and (min-width: 0) {
    html {
        font-size: 16px;
    }

    .signUp-wrap {
        margin: 5rem auto 0;
        max-width: 600px;
        width: 100%;
    }
    /* checkbox CSS */
    .input-check{
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 999px;
        background: #CACFD8 url(../image/ico_check01.svg)no-repeat center center;
        margin: 0;
        vertical-align: middle;
        transition: all 0.3s;
    }
    .check-label {
        vertical-align: middle;
        color: #636872;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.75rem;
        margin-left: 0.5rem;
        cursor: pointer;
    }
    .input-check:checked {
        background: var(--brand-color) url(../image/ico_check01.svg)no-repeat center center;
        
    } 
    /* --end checkbox CSS */
    .allAgree__subtitle {
        color: #7D8089;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.3125rem;
        margin-top: 1.0625rem;
    }
    .hr1 {
        width: 100%;
        margin-top: 2.1875rem;
        padding-bottom: 2.9375rem;
        border : 0px;
        border-top: 2px dashed #DCDAEB;
    }
    .check-wrap02 {
        padding-left: 0.3125rem;
    }
    .essen--txt {
        vertical-align: middle;
        color: #A4A5A8;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.3125rem;
        padding-left: 9px;
    }
    .agree__desc {
        margin-top: 0.9375rem;
        border-radius: 10px;
        background: white;
        border: 2px solid var(--white-outline);
        padding: 1.125rem 0.875rem 1.125rem 1.125rem;
    }
    .agree__desc p {
        color: #7D8089;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.25rem;
        height: 11.5rem;
        overflow-y: auto;
    }
    .agree__desc p::-webkit-scrollbar-thumb {
        background: #EBEBF1;
        border: 0px;
    }
    .agree01-wrap + .agree01-wrap {
        margin-top: 3.125rem;
    }
    .btn-wrap {
        text-align: center;
    }
    .btnStyle {
        margin-top: 5rem;
        display: inline-block;
        text-align: center;
    }
    .btnStyle a {
        border-radius: 10px;
        display: inline-block;
        background-color: #C5CAD3;
        padding: 0.9375rem 5.625rem;
        color: #FFF;
        font-size: 1.375rem;
        font-weight: 600;
        line-height: 1.625rem;
    }
    .btnStyle .btn--on {
        background: var(--brand-color);
    }
    /* signup 02 page CSS */
    .signUp02-wrap {
        margin: 5rem auto 0;
        max-width: 36.875rem;
    }
    .signUp02-list {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
    }
    .signUp02-list>li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .signUp02-list>li:nth-child(n+2) {
        border : 0px;
        border-top: 2px dashed #DCDAEB;
        padding-top: 1.875rem;
    }
    .label-wrap {
        width: 10.625rem;
    }
    .label-txt {
        color: #636872;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.25rem;
        letter-spacing: -0.0265625rem;
    }
    .input-wrap {
        flex-grow: 1;
        flex: 1 0 0;
    }
    .input-wrap2 {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .input-wrap3 {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        gap: 0.625rem;
        position: relative;
    }
    .input-inner {
        display: flex;
        flex-direction: row;
        gap: 0.625rem;
    }
    .sinput-box {
        width: 100%;
        color: var(--input-txtcolor);
        font-family: Pretendard;
        font-size: 0.9375rem;
        font-weight: 600;
        line-height: 1.25rem;
        letter-spacing: -0.0265625rem;
        padding: 0.9375rem 1.125rem;
        border: 2px solid var(--white-outline);
        border-radius: 0.625rem;
    }
    .sinput-box2 {
        width: 100%;
        flex : 1 0 0;
        color: var(--input-txtcolor);
        font-family: Pretendard;
        font-size: 0.9375rem;
        font-weight: 600;
        line-height: 1.25rem;
        letter-spacing: -0.0265625rem;
        padding: 0.9375rem 1.125rem;
        border: 2px solid var(--white-outline);
        border-radius: 0.625rem;
    }
    .sinput-box3 {
        width: 100%;
        flex : 1 0 0;
        color: var(--input-txtcolor);
        font-family: Pretendard;
        font-size: 0.9375rem;
        font-weight: 600;
        line-height: 1.25rem;
        letter-spacing: -0.0265625rem;
        padding: 0.9375rem 3.5rem 0.9375rem 1.125rem;
        border: 2px solid var(--white-outline);
        border-radius: 0.625rem;
    }
    .address-btn {
        display: inline-block;
        padding: 0.9375rem 1.25rem;
        color: white;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: -0.0265625rem;
        background: var(--brand-color);
        border-radius: 0.625rem;
    }
    .sinput-box3::placeholder,
    .sinput-box2::placeholder,
    .sinput-box::placeholder {
        color: var(--placehold);
    }
    .input-photo {
        display: none;
    }
    .label-photo {
        display: inline-block;
        padding: 0.9375rem 1.25rem;
        color: white;
        font-size: 1.0625rem;
        font-weight: 600;
        letter-spacing: -0.0265625rem;
        background: var(--brand-color);
        border-radius: 0.625rem;
        cursor: pointer;
    }
    .delete-btn {
        position: absolute;
        right: 7.5rem;
        top: 1.066666666666667rem;
    }
    .delete-btn a {
        display: inline-block;
        padding: 0 0.5rem;
        color: var(--brand-color);
        font-size: 0.9375rem;
        font-weight: 600;
        letter-spacing: -0.0234375rem;
    }
    textarea {
        resize: none;
    }
    /* checkbox2 CSS */
    .input-check2{
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 1.375rem;
        height: 1.375rem;
        border-radius: 999px;
        background: #CACFD8 url(../image/ico_check01.svg)no-repeat center center;
        margin: 0;
        vertical-align: middle;
        transition: all 0.3s;
        background-size: 1.25rem 1.25rem;
    }
    .check-label2 {
        vertical-align: middle;
        color: var(--input-txtcolor);
        font-size: 1.0625rem;
        font-weight: 600;
        line-height: 1.25rem;
        margin-left: 0.5rem;
        cursor: pointer;
    }
    .input-check2:checked {
        background: var(--brand-color) url(../image/ico_check01.svg)no-repeat center center;
        background-size: 1.25rem 1.25rem;
        
    } 
    /* --end checkbox2 CSS */
    .category-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .category-list li {
        display: inline-block;
        padding: 0.8125rem 1.25rem;
        background: white;
        border-radius: 999px;
        border: 2px solid var(--white-outline);
    } 
    .content__img {
        height: 9rem;
        padding-bottom: 1.7rem;
    }
}
@media all and (max-width: 1023px) {
    html {
        font-size: 15px;
    }

    .btnStyle {
        display: block;
    }
    .btnStyle a {
        display : block;
        padding: 1rem 0;
    }
    .signUp02-list li {
        flex-wrap: wrap;
        flex-direction: column;
        gap : 1rem;
    }
    .label-wrap ,
    .input-wrap ,
    .input-wrap2 ,
    .input-wrap3 {
        width: 100%;
    }
    .sinput-box,
    .sinput-box2,
    .sinput-box3 {
        font-size: 0.9333333333333333rem;
    }
    .label-txt {
        padding-left: 5px;
    }
    .content__img {
        height: 8rem;
        padding-bottom: 1.6rem;
    }

}

@media all and (max-width: 480px) {

    html {
        font-size: 13.4px;
    }

    .sinput-box,
    .sinput-box2,
    .sinput-box3 {
        font-size: 1.044776119402985rem;
    }
    .input-check {
        width: 24px;
        height: 24px;
        background: #CACFD8 url(../image/ico_check01.svg)no-repeat center center / 20px 20px;
    }
    .input-check:checked {
        background-size: 20px 20px;
    }
    .btnStyle {
        display: block;
    }
    .btnStyle a {
        display : block;
        padding: 1.119402985074627rem 0;
    }
    .label-txt {
        padding-left: 3px;
    }
    .content__img {
        height: 8rem;
        padding-bottom: 1.55rem;
    }
    

}